<div class="HeroImage">
    <img src="https://images.pexels.com/photos/2377166/pexels-photo-2377166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="100%">
</div>

<div class="container">

<div class="HeroBackground d-flex align-items-center">
    <div class="HeroText">
        <div>
        <h1>The story of Mikes and Journey to Health and Wellbeing</h1>
        <p>My journey to full health using the carnivore diet started with an extreme commitment to the diet. I had read about the potential health benefits of eating mainly meat, so I decided to give it a try. I slowly cut out all plant-based foods and focused on eating only high-quality, grass-fed meats. 

            At first, the transition was tough. I felt sluggish and had difficulty focusing. But within a few weeks, I started to notice improvements in my energy levels and mental clarity. I was amazed at the results and knew I was on the right track. 
            
            I continued to follow my carnivore diet for the next several months, and my health only improved. I experienced a wide range of benefits, such as better digestion, improved skin complexion, and better sleep. 
            
            The positive changes in my health inspired me to pursue my dream of opening my own restaurant. I started to research the best methods for running a successful restaurant and worked hard to make my dream a reality. 
            
            Finally, after a few months of hard work, I opened my own restaurant. It was a great feeling of accomplishment to know that I was able to make this happen, thanks to the carnivore diet. 
            
            I never thought this play out so well from a loser who falls down in public and has severe seizures, not able to sleep, depressed and unable to work for years. I hope my story will be an inspirations for all my guests!</p>
        </div>
    </div>
</div>
<div class="Text d-flex">
    <div class="px-lg-4">
        <h2>Do you have health issues? Try carnicore as crazy as it sounds</h2>
        <p>Check out these ressources!</p>
        <ul>
            <li>Shawn Backer</li>
            <li>MD Paul Saladino</li>
            <li>MD Ken Berry</li>
            <li>Bob Briggs</li>
            <li>Zero Carb Life</li>
            <li>Wim Hof</li>
        </ul>
        <p>So swim against the stream and have an ancestrally proper diet!</p>
    </div>
    <div class="HealthImage">
        <img src="https://images.pexels.com/photos/6945/sunset-summer-golden-hour-paul-filitchkin.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="500px" alt="Steak">
    </div>
</div>

</div>

