<div class="HeroImage">
    <img src="https://images.pexels.com/photos/941861/pexels-photo-941861.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="100%">
</div>

<div class="container">

<div class="HeroBackground d-flex align-items-center">
    <div class="HeroText">
        <div>
        <h1>Welcome Mikes - the best Carnivore and Keto Restaurant and may the only one in Town</h1>
        <p>Welcome to the best carnivore restaurant in town!

            If you're a meat lover looking for a delicious, hearty meal, you've come to the right place. Our menu features a wide selection of the finest cuts of beef, pork, chicken, and seafood. We also have a variety of burgers, steaks, ribs, and sandwiches - all cooked to perfection.
            
            Our atmosphere is warm and inviting, and our staff is friendly and knowledgeable. We strive to provide a unique dining experience in a relaxed setting. So come on in and join us for a meal you won't soon forget!</p>
        </div>
    </div>
</div>
<div class="Text d-flex">
    <div class="px-lg-4">
        <h1>Why Mikes?</h1>
        <p>There are many reasons to decide for us</p>
        <h2>So just look and be convinced!</h2>
        <ul>
            <li>High quality cuts only from organically and proper fed animals</li>
            <li>We keep an eye that the animals are minimally suffering at every stage of their life</li>
            <li>We have highest standards in hygine and dont add any artifically substances</li>
            <li>And most important feel at home and met the carnivore community of your town. It feels good to met like minded ppl who are on your page.</li>
        </ul>
        <p>So don't wait and have the Mikes carnivore experience!</p>
    </div>
    <div class="FoodImage">
        <img src="https://images.pexels.com/photos/65175/pexels-photo-65175.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="500px" alt="Steak">
    </div>
</div>

</div>

